@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@functions{
    public void printThings()
    {
        Console.WriteLine("dsadsadas");
    }
}
<div class="container-fluid text-center "  >
    <a>Hello @Model.Message</a>
    <p>sss</p>
    <button type="submit" class="btn btn-dark " asp-action="Print">Open an Unity Experiment!</button>
</div> 





